excenteron/__pycache__/*
hmmqtt/migrations/*
hmmqtt/__pycache__/*
machine/migrations/*
machine/__pycache__/*
userinfo/migrations/*
userinfo/__pycache__/*
history/migrations/*
history/__pycache__/*
adminor/migrations/*
adminor/__pycache__/*
face/migrations/*
face/__pycache__/*
guest/migrations/*
guest/__pycache__/*
staff/migrations/*
staff/__pycache__/*
screen/migrations/*
screen/__pycache__/*
media/face_info/guest/*
media/face_info/staff/*
media/tempory/*
media/tempory_m/*
service/migrations/*
service/__pycache__/*

