.backindex{
    width: 100%;
    height: 140px;
    background-color: #0e0047;
    font-size: 6em;
    color: #d7d7d7;
}
.backindex a{
    color: #d7d7d7;
}
.hm_ch_pwd{
    width: 100%;
    text-align: center;

}
.hm_ch_pwd span{
    display: block;
}
.hm_ch_pwd_inp{
    display:block;
    width:80%;
    margin-left:10%;
    margin-top:50px;
    margin-bottom:50px;
    padding-left: 0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size: 3em;
    background-color: rgba(220,9,20,0);
    font-weight: 800;
    color: #6b7178;
    border-top-color: rgba(220,9,20,0);
    border-left-color: rgba(220,9,20,0);
    border-right-color: rgba(220,9,20,0);
    border-bottom-color: #132adc;
}
.hm_ch_pwd_btn{
    display:block;
    width:80%;
    margin-left:10%;
    margin-top:50px;
    margin-bottom:50px;
    padding-left: 0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size: 3em;
    background-color: rgba(220,9,20,0);
    font-weight: 800;
    color: #6b7178;

}