/*.footer{*/
/*    width: 100%;*/
/*    height: 30px;*/
/*	background: none repeat scroll 0 0 #1D1D1D;*/
/*	border: 1px solid rgba(0, 0, 0, 0.3);*/
/*	bottom: 0;*/
/*	font-family: Arial, Helvetica, sans-serif;*/
/*	left: 50%;*/
/*	margin: 0 auto 0 -490px;*/
/*	padding: 0 10px;*/
/*	position: fixed;*/
/*	text-shadow: 1px 1px 1px #000000;*/
/*}*/

/*.ui-switch {*/
/*    position: absolute;*/
/*    font-size: .16rem;*/
/*    right:0.07rem;*/
/*    top: 50%;*/
/*    margin-top: -0.16rem;*/
/*    width: .7rem;*/
/*    height: .3rem;*/
/*    line-height: .3rem;*/
/*}*/
/*.ui-switch input {*/
/*    width: .7rem;*/
/*    height: .3rem;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 2;*/
/*    border: 0;*/
/*    background: 0 0;*/
/*    -webkit-appearance: none;*/
/*    outline: 0*/
/*}*/
/*.ui-switch input:before {*/
/*    content: '';*/
/*    width: .68rem;*/
/*    height: .3rem;*/
/*    border: 1px solid #dfdfdf;*/
/*    background-color: #fdfdfd;*/
/*    border-radius: .2rem;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    vertical-align: middle;*/
/*    -webkit-box-sizing: content-box;*/
/*    box-sizing: content-box;*/
/*    border-color: #dfdfdf;*/
/*    -webkit-box-shadow: #dfdfdf 0 0 0 0 inset;*/
/*    box-shadow: #dfdfdf 0 0 0 0 inset;*/
/*    -webkit-transition: border .4s,-webkit-box-shadow .4s;*/
/*    transition: border .4s,box-shadow .4s;*/
/*    -webkit-background-clip: content-box;*/
/*    background-clip: content-box*/
/*}*/

/*.ui-switch input:checked:before {*/
/*    border-color: #64bd63;*/
/*    -webkit-box-shadow: #64bd63 0 0 0 0.16rem inset;*/
/*    box-shadow: #64bd63 0 0 0 0.16rem inset;*/
/*    background-color: #64bd63;*/
/*    transition: border .4s,box-shadow .4s,background-color 1.2s;*/
/*    -webkit-transition: border .4s,-webkit-box-shadow .4s,background-color 1.2s;*/
/*    background-color: #64bd63*/
/*}*/
/*.ui-switch input:checked:after {*/
/*    left: .4rem*/
/*}*/
/*.ui-switch input:after {*/
/*    content: '';*/
/*    width: .3rem;*/
/*    height: .3rem;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    -webkit-transform: translateY(-50%);*/
/*    border-radius: 100%;*/
/*    background-color: #fff;*/
/*    -webkit-box-shadow: 0 0.01rem 0.03rem rgba(0, 0, 0, .4);*/
/*    box-shadow: 0 0.01rem 0.03rem rgba(0, 0, 0, .4);*/
/*    -webkit-transition: left .2s;*/
/*    transition: left .2s*/
/*}*/



/*base*/

.hm_totle{
    width: 100%;
}
.showp{
    width: 100%;
}

.hm_dis{
    display: none;
    width: 100%;
}
.hm_dis mc{
    display: none;
    width: 100%;
}

.hm_footer{
    width: 100%;
    height: 190px;
	bottom: 35px;
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
    font-size: 3em;
    text-align: center;
}
.hm_footer_btn{
    width: 30%;
    display:inline-block;
    color: #abaf9c;
    font-weight: 600;
    font-size: 1.2em;
}
.hm_footer_btn span img{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 20px;
    margin-top: 30px;
}

/*login*/
.hm_login{
    width: 65%;
    margin-left: 15%;
    margin-top:400px;
    text-align: center;
    color: #fff;
}
.hm_login_input{

    width:80%;
    margin-left:10%;
    margin-top:50px;
    margin-bottom:50px;
    padding-left: 0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size: 4em;
    font-weight: 800;
    color: #0b67ff;
    border-top-color: rgba(220,9,20,0);
    border-left-color: rgba(220,9,20,0);
    border-right-color: rgba(220,9,20,0);
    border-bottom-color: #1166ff;
    background-color: rgba(220,9,20,0);
}

.hm_login_input_btn{
    display:block;
    width:80%;
    margin-left:14%;
    margin-top:80px;
    margin-bottom:50px;
    padding-left: 0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size: 3em;
    font-weight: 800;
    border-radius: 2.5em;
    background-color: rgba(220,9,20,0);
    border: #046edc 2px solid;
    color: #346fff;
}

/*index*/
.index_top{
    width: 100%;
    font-size: 6em;
    padding-bottom: 30px;
    color: #6b7178;
    display: flex;
}
.index_top_span_1{
    width:35%;
    border-radius: 0 0.2em 0.2em 0;
    height: 140px;
    margin-top: 20px;
}
.index_top_span_2{
    width:15%;
    margin-left: 50%;
    background-image: linear-gradient(to right, #bce3ff, #2785fb);
    border-radius:  0.2em 0 0 0.2em ;
    height: 140px;
    margin-top: 20px;
    animation:mymove 3s;
    animation-iteration-count:1;
    /* Safari and Chrome */
    -webkit-animation:mymove 3s;
    -webkit-animation-iteration-count:1;
}

@keyframes mymove
{
from {margin-left: 100%;}
to {margin-left: 50%;}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {margin-left: 100%;}
to {margin-left: 50%;}
}
.index_topl{
    width: 100%;
    font-size: 6em;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #6b7178;
    font-weight: 800;

}

.index_topl span:first-child{
    width: 32%;
    display: inline;
    padding-left: 8%;
}
.index_topl span:nth-child(2){
    padding-left: 8%;
    width: 60%;
    display: inline;
}
.weathertext{
    color: #346fff;

    width: 25%;
    font-size: 10em;
    margin-top: 40px;
    margin-left: 4%;


}
.weathertext_small{
    color: #346fff;
    margin-left: 10%;
    width: 25%;
    font-size: 4em;
    margin-top: 60px;
}
.weatherimg{
    width: 70%;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10%;
}

.index_block{
    float:left;
    width: 38%;
    margin-left: 8%;
    margin-top: 20px;
    height: 400px;
    border-radius: 2.5em;
}
.block_show{
    float: left;
    width: 100%;

    height: 180px;
}
.block_show_img{
    width: 80%;
    display: inline-block;
    margin-left: 20%;
    margin-top: 20px;
}
.block_show div{
    width:45%;
    display: inline-block;
    height: 180px;
    opacity: 1;

}
.block_show div span{
    font-size: 10em;
    width: 92%;
    margin-left: 5%;
    font-weight: 400;
    display: inline-block;
    color: #fcffff;

}

/*selfpage*/

.hm_self_f{
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.75), rgba(13, 106, 162, 0.48));
  margin-bottom: 80px;
    float: left;
}
.hm_self_f_left{
    width: 30%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}
.hm_self_f_left img{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}
.hm_self_f_right{
    width: 65%;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    padding-top: 30px;
}
.block_fi{
    margin-left: 10%;
    font-size: 6em;
    padding-top: 10px;
    display: block;
    color: #8c8c8c;
}
.block_se{
    margin-left: 10%;
    font-size: 4em;
    padding-top: 30px;
    display: block;
    color: #8c8c8c;
}
.hm_self_c{
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.75), rgba(13, 106, 162, 0.48));
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    border-radius: 2.5em;
}
.hm_self_c span{

    font-size: 6em;
}



.logout{
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 0.00));
    margin-top: 120px;
    background-color: crimson;
    color: #ffffff;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 6em;
}

/*other*/
.color1{
    background-color: rgba(235, 17, 35, 0.86);
}
.color2{
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.75), rgba(13, 106, 162, 0.48));


}
.color3{
    background-color: #157ee0;
}
.color4{
    background-color: #17965e;
}
.color5{
    background-color: #ffaa01;
}
.color6{
    background-color: #5001ff7a;
}
.color7{
    background-color: #ff013a;
}
.color8{
    background-color: #ff013a;
}
.color9{
    background-color: #ff013a;
}
.color10{
    background-color: #ff013a;
}
.showp_one{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}
.showp_one_f{
    width: 100%;
    display: flex;
}
.showp_one div div{
    width: 40%;
    height: 200px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1.5em;

    margin-bottom:70px;

    background-color: #f0fbff00;
}



.slide-box{
    margin-top:30px;
    display: -webkit-box;
    overflow-x: auto;
    /*适应苹果*/
    -webkit-overflow-scrolling:touch;
}

.slide-item{
    width: 30%;
    height: 300px;
    margin-right: 4%;
    margin-left: 4%;
    border-radius: 2.5em;
}

.slide-box::-webkit-scrollbar {
    display: none;
}

.block_slp_text{
    color: #6f6f6f;
    font-weight: 100;
    font-size: 5em;
    margin-left: 10%;
    font-family: "Times New Roman";
    /*background-image:-webkit-linear-gradient(left, #8de0ff, #d1f6ff, #f9fffc);*/
    /*-webkit-background-clip:text;*/
    /*-webkit-text-fill-color:transparent;*/
}

/*controler*/
.hm_ctr_tol{
    height: 900px;
    overflow: scroll;
    width: 100%;
    margin-top: 20px;
    font-size: 4em;
}
.hm_ctr_block{
    width: 80%;
    margin-left: 5%;
    margin-top: 14px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0.5em;
    font-size: 1.0em;
        background-image: linear-gradient(to left top, #ffffff, #2785fb);
}


.hm_ctr_block div:nth-child(1){
    color: #d7d7d7;
    display: inline-block;
    width: 43%;
    float: left;
    margin-top: 42px;
    margin-left: -3px;
}
.hm_ctr_block div:nth-child(2){
    color: #d7d7d7;
    display: inline-block;
    width: 38%;
}
.hm_ctr_block div:nth-child(2) img{

    width: 38%;
}
.hm_ctr_block div:nth-child(3){
    color: #d7d7d7;
    display: inline-block;
    margin-top: 30px;
    margin-left: -86px;
}


.switch {
    height: 83px;
    width: 234px;
    position: relative;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    background-color: #d1d1d1;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD1D1D1', endColorstr='#FFFEFBF7');
    background-image: -moz-linear-gradient(top, #d1d1d1 0%, #fefbf7 100%);
    background-image: -webkit-linear-gradient(top, #d1d1d1 0%, #fefbf7 100%);
    background-image: linear-gradient(to bottom, #d1d1d1 0%, #fefbf7 100%);
}
.switch:after {
    height: 70px;
    width: 220px;
    position: absolute;
    top: 7px;
    left: 7px;
    content: '';
    z-index: 2;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    background-color: #a5a5a5;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFA5A5A5', endColorstr='#FFE8D7BE');
    background-image: -moz-linear-gradient(top, #a5a5a5 0%, #e8d7be 100%);
    background-image: -webkit-linear-gradient(top, #a5a5a5 0%, #e8d7be 100%);
    background-image: linear-gradient(to bottom, #a5a5a5 0%, #e8d7be 100%);
}

.checkbox {
    height: 60px;
    width: 210px;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 10000;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    -moz-box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
    box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
    background-color: #f28a00;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF28A00', endColorstr='#FFD86517');
    background-image: -moz-linear-gradient(top, #f28a00 0%, #e65300 67%, #d86517 100%);
    background-image: -webkit-linear-gradient(top, #f28a00 0%, #e65300 67%, #d86517 100%);
    background-image: linear-gradient(to bottom, #f28a00 0%, #e65300 67%, #d86517 100%);
}
.checkbox:after {
    height: 60px;
    width: 117px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 9999;
    -moz-border-radius: 35px 0 0 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px 0 0 35px;
    -moz-box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
    box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
    background-color: #b1dd00;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFB1DD00', endColorstr='#FF84AD00');
    background-image: -moz-linear-gradient(top, #b1dd00 0%, #7eaf00 67%, #84ad00 100%);
    background-image: -webkit-linear-gradient(top, #b1dd00 0%, #7eaf00 67%, #84ad00 100%);
    background-image: linear-gradient(to bottom, #b1dd00 0%, #7eaf00 67%, #84ad00 100%);
}

.control {
    height: 73px;
    width: 138px;
    outline: 0;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 10001;
    -webkit-appearance: none;
    -moz-border-radius: 36.5px;
    -webkit-border-radius: 36.5px;
    border-radius: 36.5px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.55), inset 0 2px 0 #fafafa, inset 0 -2px 0 #ada39d;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.55), inset 0 2px 0 #fafafa, inset 0 -2px 0 #ada39d;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.55), inset 0 2px 0 #fafafa, inset 0 -2px 0 #ada39d;
    background-color: #efefef;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEFEFEF', endColorstr='#FFBCB9B8');
    background-image: -moz-linear-gradient(top, #efefef 32%, #bcb9b8 100%);
    background-image: -webkit-linear-gradient(top, #efefef 32%, #bcb9b8 100%);
    background-image: linear-gradient(to bottom, #efefef 32%, #bcb9b8 100%);
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.control:checked {
    left: 91px;
}
.control:after {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
    content: '';
    z-index: 10001;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #c2c0be;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC2C0BE', endColorstr='#FFD7D7D7');
    background-image: -moz-linear-gradient(top, #c2c0be 0%, #d7d7d7 72%);
    background-image: -webkit-linear-gradient(top, #c2c0be 0%, #d7d7d7 72%);
    background-image: linear-gradient(to bottom, #c2c0be 0%, #d7d7d7 72%);
}



#container {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	overflow: hidden;
}
#clockBoard {
	width: 100%;
	height: 660px;
	margin: 0px auto;
	margin-top: 0%;
	margin-bottom: 0px;

}
#pointer {
	position: relative;
	top: -1000px;
    width: 100%;
}
#clock{width: 100%}
#value {
	position: relative;
	z-index: 10;
	top: -500px;
	left: 210px;
	border-radius: 5px;
	line-height: 20px;
}
#run {
	position: relative;
	z-index: 10;
	top: -450px;
	left: 105px;
	padding: 5px;
	border-radius: 5px;
	background: #40ccf5;
	border: 1px solid #40bce5;
	width: 70px;
	height: 30px;
	line-height: 20px;
	color: #fff;
	font: 20px bold;
}


.switch-box {
  display: block;
  margin-top: 24px;
}
.switch-box .switch-box-slider {
  position: relative;
  display: inline-block;
  height: 8px;
  width: 32px;
  background: #d5d5d5;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.switch-box .switch-box-slider:after {
  position: absolute;
  left: -8px;
  top: -8px;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #eeeeee;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  content: '';
  transition: all 0.2s ease;
}
.switch-box .switch-box-input {
  display: none;
}
.switch-box .switch-box-input ~ .switch-box-label {
  margin-left: 8px;
}
.switch-box .switch-box-input:checked ~ .switch-box-slider:after {
  left: 16px;
}
.switch-box .switch-box-input:disabled ~ .switch-box-slider {
  background: #e2e2e2;
  cursor: default;
}
.switch-box .switch-box-input:disabled ~ .switch-box-slider:after {
  background: #d5d5d5;
}
.switch-box.is-primary .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
  background: #28e1bd;
}
.switch-box.is-primary .switch-box-input:checked:not(:disabled) ~ .switch-box-slider:after {
  background: #1abc9c;
}
.switch-box.is-info .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
  background: #5faee3;
}
.switch-box.is-info .switch-box-input:checked:not(:disabled) ~ .switch-box-slider:after {
  background: #3498db;
}
.switch-box.is-success .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
  background: #54d98c;
}
.switch-box.is-success .switch-box-input:checked:not(:disabled) ~ .switch-box-slider:after {
  background: #2ecc71;
}
.switch-box.is-danger .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
  background: #ed7669;
}
.switch-box.is-danger .switch-box-input:checked:not(:disabled) ~ .switch-box-slider:after {
  background: #e74c3c;
}
.switch-box.is-warning .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
  background: #eb9950;
}
.switch-box.is-warning .switch-box-input:checked:not(:disabled) ~ .switch-box-slider:after {
  background: #e67e22;
}



/*on/off*/

.a_demo_two {
    margin-left: 6%;
	background-color:#3bb3e0;
	padding:10px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:5em;
	text-decoration:none;
	color:#fff;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.a_demo_two::before {
	background-color:#072239;
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:4px;
	left:-2px;
	top:5px;
	z-index:-1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 0px #fff;
	-moz-box-shadow: 0px 1px 0px #fff;
	-o-box-shadow: 0px 1px 0px #fff;
	box-shadow: 0px 1px 0px #fff;
}

.a_demo_two:active {
	color:#156785;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	background:rgb(44,160,202);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	top:7px;
}

.a_demo_two:active::before {
    top: -2px;
}
