<!DOCTYPE html>
<html style="height: 100%">
    <head>
       <meta charset="utf-8">
       <script src="../static/js/common/jquery-1.9.1.min.js"></script>
       <script src="../static/js/controler/phchpwd.js"></script>
       <link rel="stylesheet" type="text/css" href="../static/css/phone.css">
    </head>
    <body>192.168.2.109
        <a href="/phoned/">back</a>
        <div>
            <div>
                <span>旧密码：</span>
                <span><input type="password" name="oldpwd"></span>
                <span name="oldpwderr" style="color: darkred"></span>
            </div>
            <div>
                <span>新密码：</span>
                <span><input type="password" name="newpwd"></span>
                <span name="newpwderr" style="color: darkred"></span>
            </div>
            <div>
                <span>确认密码：</span>
                <span><input type="password" name="cnewpwd"></span>
                <span name="cnewpwderr" style="color: darkred"></span>
            </div>
            <div>

                <span><input type="button" name="cpwd_btn" value="提交"></span>

            </div>
        </div>

    </body>
</html>