<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <script src="../static/js/common/jquery-1.9.1.min.js"></script>
        <script src="../static/js/controler/phinvite.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="../static/css/invite.css">
    </head>
    <body>
        <div class="backindex">
            <span class="icon-left">
                <a href="/phoned/">
                    <img src="../static/images/icon/back.png" class="back-icon"/>
                </a>
            </span>
            <span class="icon-right">
                <a href="/inviteadd/" style="float: right;margin-right: 10%">
                    <img src="../static/images/icon/jia.png" class="jia-icon"/>
                </a>
            </span>
        </div>
        <div class="invite_list" id="invite_list">
            <div class="invite_list_it_title">
                <span class="invite_list_it_o_title">姓名</span>
                <span class="invite_list_it_s_title">公司</span>
                <span class="invite_list_it_t_title">审核</span>
            </div>
        </div>

        </div>




    </body>
</html>