<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <script src="../static/js/common/jquery-1.9.1.min.js"></script>
        <script src="../static/js/common/lrz.bundle.js"></script>
        <script src="../static/js/controler/phinvite.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="../static/css/invite.css">
    </head>
    <body>
        <div class="face_add">
            <label for="file-input">
                <img src="../static/images/icon/upload.png"/>
            </label>
            <input type="file" capture="camera" accept="image/*" name="logo" id="file-input" style="display: none;">
            <div>
                点击上传
            </div>
        </div>

        <img src="" name="face_picture" >
        <div>
            <input type="text" name="user_name" value="">
        </div>
        <div>
            <input type="text" name="real_name" value="">
        </div>
        <div>
            <input type="text" name="position" value="">s
        </div>
        <div>
            <input type="text" name="department" value="">
        </div>
        <input type="button" name="" value="提交资料 等待审核">

    <script>
        $(function(){
 $('input[name=logo]').on('change', function(){
   //lrz(this.files[0], {width: 640})
   //.then(function (rst) {
        var form_data = new FormData();
        form_data.append('myfiles', this.files[0]);
       $.ajax({
             url: 'http://localhost:8000/staff/upload/image/',
             type: 'POST',
             data:form_data,
             timeout: 200000,
             processData: false,
             contentType: false,
             error:function (err) {
                 console.log(err);
             },
             success:function (res) {
                $("img[name='face_picture']").attr("src",res.data);
             },
        });

  // })
  // .catch(function (err) {
//
  // })
  //.always(function () {

  // });
 });
});
    </script>
    </body>
</html>