<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <script src="../static/js/common/jquery-1.9.1.min.js"></script>
        <script src="../static/js/controler/phinvite.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="../static/css/invite.css">
    </head>
    <body>
        <div class="invite_success">
            <div class="success-icon">
                <img src="../static/images/icon/invite-pass.png" alt="">
            </div>
            <div class="success-font">
                <span>提交成功</span>
            </div>
            <div class="success-sh">
                <span>审核通过后，我们会站内通知您</span>
            </div>
        </div>
    </body>
</html>