<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <script src="../static/js/common/jquery-1.9.1.min.js"></script>
        <script src="../static/js/controler/phinvite.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="../static/css/invite.css">
    </head>
    <body>
        <div class="backindex">
            <a href="/phoned/">back</a>
            <a href="/inviteadd/" style="float: right;margin-right: 10%">+</a>
        </div>
        <div class="" id="invite_list">
            <div class="invite_list_it">
                <span class="invite_list_it_o">AAAA</span>
                <span class="invite_list_it_s">riqi</span>
                <span class="invite_list_it_t ">通过</span>
            </div>
        </div>
    </body>
</html>