<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <script src="../static/js/common/jquery-1.9.1.min.js"></script>
        <script src="../static/js/controler/hyswitch.js"></script>
        <script src="../static/js/controler/phoned.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="../static/css/phone.css">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="screen"  />
    </head>
    <body>
        <div class="top-info">
            <div class="top-left">
                <img src="../static/images/icon/tedu.png" alt="">
            </div>
            <div class="index_topl">
            <span> 北京 </span>
            <span>
               <!--<img src="../static/images/weather/weathy_01.png" class="weatherimg">-->
                <span class="weathertext">Sunny 15C</span>
            </span>
        </div>
        </div>
        <div class="index_top">
            <div _pg="showpthird" id="showpthird" class="kz-img">
                <img src="../static/images/icon/info2.png" alt="">
            </div>
            <div _pg="showpfirst" id="showpfirst" class="ge-img">
                <img src="../static/images/icon/home.png" alt="">
            </div>
        </div>

        <div style="width: 84%;margin-left: 8%;border-top: rgba(110,118,122,0.34) 3px solid;float: left"></div>




        <div class="hm_totle">
            <div name="showpfirst"  class="hm_dis">
                <div class="hm_ctr_tol">
{#                    <div class="hm_ctr_block">#}
{#                        <div>灯</div>#}
{#                        <div _mid="1">#}
{#                            <img src="../static/images/icon/lamp2.png">#}
{#                        </div>#}
{#                        <div class="switch">#}
{#                            <input type="checkbox" onclick="ctr_mac(1,1)" _mid="1" id="control" class="control"><label for="control" class="checkbox"></label>#}
{#                        </div>#}
{#                    </div>#}
                </div>

                <div class="radmenu">
                <a class="show" id="show">手动</a>
                </div>
            </div>




            <div name="showpsecond"  class="showp" style="overflow:hidden">
                <div class="showp_one">
                    <img src="../static/images/icon/banner9.png"/>
                </div>
                <ul class="slide-box">
                    <li class="slide-item color2">
                        <div class="block_show">
                            <div>
                               <img src="../static/images/icon/wendu.png" class="block_show_img">
                            </div>
                            <div id="temperature">
                                <span>20</span>

                            </div>
                        </div>
                        <div class="block_slp_text">
                            室内温度
                        </div>

                    </li>
                    <li class="slide-item color2">
                        <div class="block_show">
                            <div>
                               <img src="../static/images/icon/shidu.png" class="block_show_img">
                            </div>
                            <div id="humidity">
                                <span>20</span>

                            </div>
                        </div>
                        <div class="block_slp_text">
                            室内湿度
                        </div>

                    </li>
                    <li class="slide-item color2">
                        <div class="block_show">
                            <div>
                               <img src="../static/images/icon/co2.png" class="block_show_img">
                            </div>
                            <div id="co2">
                                <span>20</span>

                            </div>
                        </div>
                        <div class="block_slp_text">
                            二氧化碳
                        </div>

                    </li>
                    <li class="slide-item color2">
                        <div class="block_show">
                            <div>
                               <img src="../static/images/icon/pm2.png" class="block_show_img">
                            </div>
                            <div id="pm25">
                                <span>20</span>

                            </div>
                        </div>
                        <div class="block_slp_text">
                            室内PM2.5
                        </div>

                    </li>
                    <li class="slide-item color2">
                        <div class="block_show">
                            <div>
                               <img src="../static/images/icon/guangzhao.png" class="block_show_img">
                            </div>
                            <div id="light">
                                <span style="color: #ff9200">20</span>

                            </div>
                        </div>
                        <div class="block_slp_text">
                            光照强度
                        </div>

                    </li>
                    <li class="slide-item color2">
                        <div class="block_show">
                            <div>
                               <img src="../static/images/icon/charge.png" class="block_show_img">
                            </div>
                            <div id="elect">
                                <span>20</span>
               
                            </div>
                        </div>
                        <div class="block_slp_text">
                            室内电力
                        </div>

                    </li>
                </ul>

            </div>

            <div name="showpthird" class="hm_dis">
                <div class="hm_self_f">
                    <div class="hm_self_f_left">
                        <img src="../static/images/icon/face_normal.jpeg" class="hm_avater">
                    </div>
                    <div class="hm_self_f_right">
                        <span class="block_fi" name="realname">小明同学</span>
                        <span class="block_se" name="position">达内研究院</span>
                    </div>
                </div>
                <div class="hm_self_c" name="ch_pwd">
                    <span>更改密码</span>
                </div>
                <div class="hm_self_c" name="invite">
                    <span>邀请记录</span>
                </div>
                <div class="hm_self_c logout">
                    注销
                </div>

            </div>
        </div>

        <!--<div style="width: 100%;height: 190px;"></div>
       <div class="hm_footer">
            <div class="hm_footer_btn">         <div _pg="showpfirst">
                    <span><img src="../static/images/icon/foot_ctol.png"></span>
                   <span>控制</span>        </div>
           </div>
            <div class="hm_footer_btn">
               <div _pg="showpsecond">
                    <span><img src="../static/images/icon/foot_index.png"></span>
                    <span>基本</span>
               </div>
            </div>
        <div class="hm_footer_btn">
               <div _pg="showpthird">
                    <span><img src="../static/images/icon/foot_self.png"></span>
                    <span>我的</span>
                </div>
           </div>
        </div>-->

    </body>
</html>