<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
       <script src="../static/js/common/jquery-1.9.1.min.js"></script>
       <script src="../static/js/controler/phone.js"></script>
       <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
       <link rel="stylesheet" type="text/css" href="../static/css/phone.css">
   </head>
   <body>
        <div class="hm_login">
            <input type="text" name="username" id="username" placeholder="Mobile" class="hm_login_input" style=" caret-color:#fbf4ff;"/>
            <input type="password" name="password" id="password" placeholder="PassWord" class="hm_login_input"/>
            <span style="width: 100%;color: #ff013a;font-size: 5em" id="error"></span>
            <input type="button" name="btn_login" id="btn_login" class="hm_login_input_btn" value="Login">
        </div>
   </body>
</html>