<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <script src="../static/js/common/jquery-1.9.1.min.js"></script>
        <script src="../static/js/controler/phoned.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="../static/css/phone.css">
    </head>
    <body>
        <div class="index_top">
            <span class="index_top_span_1">
                <img src="../static/images/icon/logotedu.png" class="weatherimg" style="padding-top: 10px">
            </span>

            <span class="index_top_span_2">
                <img src="../static/images/weather/weathy_08.png" class="weatherimg">

            </span>
        </div>



        <div class="hm_totle">
            <div name="showpfirst"  class="hm_dis">
                <div style="display: block">
                    <a class="a_demo_two" id="atmt" _atmt="at">
                        自动
                    </a>
                </div>
                <div class="hm_ctr_tol">


                </div>

            </div>

            <div name="showpsecond"  class="showp" style="overflow:hidden">
                <div class="showp_one">
{#                    <div class="showp_one_f">#}
{#                        <div>#}
{#                            <img src="../static/images/weather/weathy_01.png" class="weatherimg">#}
{#                            <span class="weathertext">晴</span>#}
{#                        </div>#}
{#                        <div>#}
{#                            <img src="../static/images/icon/temindex.png" class="weatherimg">#}
{#                            <span class="weathertext">20</span>#}
{#                            <span class="weathertext_small">℃</span>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                     <div class="showp_one_f">#}
{#                        <div>#}
{#                            <img src="../static/images/weather/weathy_01.png" class="weatherimg">#}
{#                            <span class="weathertext">晴</span>#}
{#                        </div>#}
{#                        <div>#}
{##}
{#                        </div>#}
{##}
{#                    </div>#}
                    <div style="width: 100%;">
                            <div id="container">
                                <div id="clockBoard">
                                    <canvas id="clock" width="550px" height="560px"></canvas>
                                    <canvas id="pointer" width="550px" height="560px"></canvas>
                                </div>
                            </div>
                    </div>




                </div>

                <ul class="slide-box">
                    <li class="slide-item color2">
                        <div class="block_show">
                            <div>
                               <img src="../static/images/icon/hu.png" class="block_show_img">
                            </div>
                            <div>
                                <span  id="temperature">20</span>

                            </div>
                        </div>
                        <div class="block_slp_text">
                            室内温度
                        </div>

                    </li>
                    <li class="slide-item color2">
                        <div class="block_show">
                            <div>
                               <img src="../static/images/icon/temp.png" class="block_show_img">
                            </div>
                            <div>
                                <span id="humidity">20</span>

                            </div>
                        </div>
                        <div class="block_slp_text">
                            室内湿度
                        </div>

                    </li>
                    <li class="slide-item color2">
                        <div class="block_show">
                            <div>
                               <img src="../static/images/icon/co2.png" class="block_show_img">
                            </div>
                            <div >
                                <span id="co2">20</span>

                            </div>
                        </div>
                        <div class="block_slp_text">
                            二氧化碳
                        </div>

                    </li>
                    <li class="slide-item color2">
                        <div class="block_show">
                            <div>
                               <img src="../static/images/icon/PM25.png" class="block_show_img">
                            </div>
                            <div >
                                <span id="pm25">20</span>
                            </div>
                        </div>
                        <div class="block_slp_text">
                            PM2.5
                        </div>

                    </li>
                    <li class="slide-item color2">
                        <div class="block_show">
                            <div>

                               <img src="../static/images/icon/out.png" class="block_show_img">
                            </div>
                            <div>
                                <span style="color: #ff9200" id="light">20</span>

                            </div>
                        </div>
                        <div class="block_slp_text">
                            光照强度
                        </div>

                    </li>
                    <li class="slide-item color2">
                        <div class="block_show">
                            <div>
                               <img src="../static/images/icon/elec.png" class="block_show_img">
                            </div>
                            <div>
                                <span id="elect">20</span>
               
                            </div>
                        </div>
                        <div class="block_slp_text">
                            室内电力
                        </div>

                    </li>
                </ul>

            </div>

            <div name="showpthird" class="hm_dis">
                <div class="hm_self_f">
                    <div class="hm_self_f_left" name="face_picture">
                        <img src="../static/images/icon/face_normal.jpeg">
                    </div>
                    <div class="hm_self_f_right">
                        <span class="block_fi" name="realname">小明同学</span>
                        <span class="block_se" name="position">达内研究院</span>
                    </div>
                </div>
                <div class="hm_self_c" name="ch_pwd">
                    <span>更改密码</span>
                </div>
                <div class="hm_self_c" name="invite">
                    <span>邀请记录</span>

                </div>
                <div class="hm_self_c logout" id="logout">
                    注销
                </div>

            </div>
        </div>
        <div style="width: 100%;height: 190px;"></div>
        <div class="hm_footer">
            <div class="hm_footer_btn">
                <div _pg="showpfirst">
                    <span><img src="../static/images/icon/foot_ctrl.png"></span>
                    <span>控制</span>
                </div>
            </div>
            <div class="hm_footer_btn">
                <div _pg="showpsecond">
                    <span><img src="../static/images/icon/eye-fill.png"></span>
                    <span style="color: #75a2ff">基本</span>
                </div>
            </div>
            <div class="hm_footer_btn">
                <div _pg="showpthird">
                    <span><img src="../static/images/icon/foot_self.png"></span>
                    <span>我的</span>
                </div>
            </div>
        </div>
<script type="text/javascript">
                        window.onload=function(){
                            var canvas=document.getElementById('clock');
                            var ctx=canvas.getContext('2d');
                            // 绘制外环
                            ctx.beginPath();
                            ctx.arc(275,230,180,30/180*Math.PI,150/180*Math.PI,true);
                            ctx.strokeStyle='#8dc9f8';
                            ctx.lineWidth='3';
                            ctx.stroke();
                            ctx.closePath();
                            // 绘制内环
                            ctx.beginPath();
                            ctx.arc(275,230,150,30/180*Math.PI,150/180*Math.PI,true);
                            ctx.strokeStyle='#b6d9f5';
                            ctx.lineWidth='12';
                            ctx.stroke();
                            ctx.closePath();
                            ctx.translate(275,230);
                            // 绘制刻度
                            var total=[-10,-5,0,5,10,15,20,25,30,35,40];
                            for(var i=0;i<17;i++){
                                if(i%6===3){
                                    ctx.beginPath();
                                    ctx.lineWidth='2';
                                    ctx.strokeStyle='#8dc9f8';
                                    ctx.moveTo(144*Math.sin(7.5*i/180*Math.PI),-144*Math.cos(7.5*i/180*Math.PI));
                                    ctx.lineTo(156*Math.sin(7.5*i/180*Math.PI),-156*Math.cos(7.5*i/180*Math.PI));
                                    ctx.moveTo(-144*Math.sin(7.5*i/180*Math.PI),-144*Math.cos(7.5*i/180*Math.PI));
                                    ctx.lineTo(-156*Math.sin(7.5*i/180*Math.PI),-156*Math.cos(7.5*i/180*Math.PI));
                                    ctx.stroke();
                                    ctx.closePath();
                                }else{
                                    ctx.beginPath();
                                    ctx.lineWidth='1';
                                    ctx.strokeStyle='#8dc9f8';
                                    ctx.moveTo(150*Math.sin(7.5*i/180*Math.PI),-150*Math.cos(7.5*i/180*Math.PI));
                                    ctx.lineTo(156*Math.sin(7.5*i/180*Math.PI),-156*Math.cos(7.5*i/180*Math.PI));
                                    ctx.moveTo(-150*Math.sin(7.5*i/180*Math.PI),-150*Math.cos(7.5*i/180*Math.PI));
                                    ctx.lineTo(-156*Math.sin(7.5*i/180*Math.PI),-156*Math.cos(7.5*i/180*Math.PI));
                                    ctx.stroke();
                                    ctx.closePath();
                                }
                            }
                            // 绘制文本
                            ctx.font='';
                            ctx.fillStyle='#8dc9f8';
                            ctx.textAlign='center';
                            ctx.textBaseline='bottom';
                            ctx.rotate((-7.5*15)/180*Math.PI);
                            for(var i=0;i<11;i++){
                                ctx.fillStyle=i%2? '#8dc9f8':'#cce8fc';
                                ctx.fillText(total[i],0,-124);
                                ctx.rotate((7.5*3)/180*Math.PI);
                            }
                            ctx.rotate(-7.5*18/180*Math.PI);
                            ctx.fillStyle='#8dc9f8';
                            ctx.font='20px normal';
                            ctx.fillText('室外温度',0,-60);
                            ctx.font='14px normal';
                            // 获取当前日期
                            var date=new Date();
                            var ymd=date.getFullYear()+'.'+(date.getMonth()+1)+'.'+date.getDate();
                            ctx.fillText('测量时间 : '+ymd,0,95);
                            ctx.font='45px bold';

                            // 绘制动画需要重置幕布，所以重建一个canvas对象
                            var pointer=document.getElementById('pointer');
                            var ctxPoint=pointer.getContext('2d');
                            function run(inputValue){
                                var timer;
                                var i=0;
                                ctxPoint.translate(275,230);
                                ctxPoint.fillStyle ='#81deff';
                                ctxPoint.strokeStyle='#fff';
                                // 设置最终的值
                                var finalValue=inputValue;
                                var value=0;
                                // 根据值的大小确定应该到达的位置
                                if(finalValue<550){
                                    value=(finalValue-316.7)*0.225;
                                }else if(finalValue<700){
                                    value=(finalValue-550)*0.9+52.5;
                                }else{
                                    value=finalValue>1000?1000:finalValue;
                                    value=(value-700)*0.18+187.5;
                                }
                                var evluate='';
                                if(inputValue<550){
                                    evluate='寒冷'
                                }else if(inputValue<600){
                                    evluate='较低';
                                }else if(inputValue<650){
                                    evluate='适宜';
                                }else if(inputValue<700){
                                    evluate='舒适';
                                }else if(inputValue>1000){
                                    evluate='联网失败';
                                }else{
                                    evluate='炎热';
                                }
                                ctxPoint.font='200px bold';
                                ctxPoint.textAlign='center';
                                ctxPoint.shadowColor='#fff';
                                // 所有的动画事件
                                function slideValue(){
                                    ctxPoint.translate(-275,-330);
                                    ctxPoint.clearRect(0,0,pointer.width,pointer.height);
                                    ctxPoint.translate(275,330);
                                    i++;
                                    // 绘制滚动元素
                                    ctxPoint.beginPath();
                                    ctxPoint.shadowBlur=30;
                                    ctxPoint.arc(-180*Math.sin((i+60)/180*Math.PI),180*Math.cos((i+60)/180*Math.PI),5,0,2*Math.PI,true);
                                    ctxPoint.fillStyle='#8dc9f8';
                                    ctxPoint.fill();
                                    ctxPoint.arc(-180*Math.sin((i+60)/180*Math.PI),180*Math.cos((i+60)/180*Math.PI),3,0,2*Math.PI,true);
                                    ctxPoint.fillStyle='#fff';
                                    ctxPoint.fill();
                                    // 填充分数和评分
                                    ctxPoint.font='95px bold';
                                    var text=0;

                                    if(i<52.5){
                                        text=i/0.225+316.7;
                                    }else if(i<187.5){
                                        text=(i-52.5)/0.9+550;
                                    }else{
                                        text=(i-187.5)/0.18+700;
                                        text=text>1000?1000:text;
                                    }

                                    text=text>inputValue?inputValue:text;
                                    ctxPoint.shadowBlur=0;
                                    ctxPoint.fillText((parseInt(text,10)-550)/5,0,35);
                                    ctxPoint.stroke();
                                    ctxPoint.font='35px bold';
                                    ctxPoint.stroke();
                                    ctxPoint.closePath();
                                    // 如果到达所需要的弧度，则停止，否则继续跳动
                                    if(i>value){
                                        setTimeout(function(){
                                            ctxPoint.fillText('气温'+evluate,0,70);
                                        },200);
                                        clearTimeout(timer);
                                    }else{
                                        timer=setTimeout(slideValue,text/finalValue*15);
                                    }
                                }
                                slideValue();
                            }

                             $.ajax({
                                url: "http://wthrcdn.etouch.cn/weather_mini",
                                type: "GET",
                                dataType: 'json',
                                data: {city: "北京市"},
                                success: function (res) {
                                  //var res=JSON.parse(res);
                                  console.log(res)
                                  var city = res.data.city;//所在城市
                                  var wendu = res.data.wendu;//温度
                                  //var maxTemperature = res.data.forecast[0].high;//最高温度
                                  //var minTemperature = res.data.templforecast[0].low;//最低温度
                                  //var weather = minTemperature.split(' ')[1] + '~' + maxTemperature.split(' ')[1];
                                  //var type = res.data.forecast[0].type;//天气状态
                                  run((parseInt(wendu)+10)/10*50+500);
                                },
                                error: function (err) {
                                  run((100+10)/10*50+500);

                                }
                              });
                        }
                    </script>
    </body>
</html>